# Cloud Backend
SB_DATABASE_URL=postgresql+asyncpg://sb_user:sb_pass@localhost:5432/sb_cloud
SB_MQTT_HOST=localhost
SB_MQTT_PORT=1883
SB_MQTT_USERNAME=client
SB_MQTT_PASSWORD=client
SB_TENANT_ID=hust
SB_SITE_ID=lab01
SB_GATEWAY_ID=gw-ubuntu-01
SB_API_HOST=0.0.0.0
SB_API_PORT=8000
