# Z3Gateway-native bridge configuration

SB_TENANT_ID=hust
SB_SITE_ID=lab01
SB_GATEWAY_ID=gw-ubuntu-01

SB_MQTT_HOST=localhost
SB_MQTT_PORT=1883
SB_MQTT_USERNAME=
SB_MQTT_PASSWORD=
SB_MQTT_KEEPALIVE=60
SB_MQTT_TLS_ENABLED=false
SB_MQTT_TLS_CA_CERT=
SB_MQTT_TLS_INSECURE=false

SB_IPC_SOCKET_PATH=/tmp/sb-gateway.sock
SB_OTA_DIR=./ota-files
SB_COMMAND_TIMEOUT_MS=5000

SB_LOG_LEVEL=INFO
SB_LOG_FILE=
